@charset "utf-8";
:root {
    box-sizing: border-box;     /*testtesttesst*/
}
@media (min-width: 800px) {
    :root {
        font-size: 0.875em;/*testtesttesst*/
    }
}
@media (min-width: 1200px) {
    :root {
        font-size: 1em;/*testtesttesst*/
    }
}
*, ::before, ::after {
    box-sizing: inherit;/*testtesttesst*/
}
body {
    background-color: #709b90;
    font-family: Arial, Helvetica, sans-serif;
}
body * + * {
    margin-top: 1.5em;
}

